VALID_SECRET=GreenApple
GITHUB_TOKEN=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
OPENAI_API_KEY=eyJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6IjI1ZHMyMDAwMDE5QGRzLnN0dWR5LmlpdG0uYWMuaW4ifQ.u223mQMLXNlfKTlBqzwziS2yqkWUEOJoHoO2W6NZHcE
OPENAI_BASE_URL=https://aipipe.org/openai/v1